*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top, #d0d7f7 90%, white);
}

#container{
    width: 80.1em;
    margin: auto;
    margin-top: 5.6em;
    margin-bottom: 5.6em;
    background-color: white;
    border-radius: 20px;
    height: 724px; 
}

header{
    display: flex;
    justify-content: space-between;
    padding: 23px 100px;
    align-items: center;
}

header h2{
    color: #335EEA;
    font-size: 1.8em;
}

#button-change button{
    width: 50px;
    height: 25px;
    border: 0;
    border-radius: 4px;
    background: url(./assets/sun.svg) #6666fc6d no-repeat center;
}

#button-change button:hover{
    background: url(./assets/sun.svg) no-repeat center #4e4ef56d;
    width: 50px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
}

ul{
    display: flex;
    list-style: none;
    gap: 45px;
}

ul li a{
    text-decoration: none;
    color: #586478f0;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 8px;
}

ul li a:hover{
    background: #5b6895a9;
    color: white;
}

/*tratando do main*/

main{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding: 0 0 0 105px;
    align-items: center;
    gap: 235px;
}

aside h1{
    font-size: 2.5em;
    font-weight: normal;
    line-height: 55px;
}

h1 span{
    color: #335EEA;
}

p{
    margin-top: 30px;
    color: rgb(72, 81, 97);
    font-size: 19px;
    line-height: 25px;
}

#button-aside{
    margin-top: 30px;
}

.button1{
    width: 180px;
    height: 54px;
    border-radius: 8px;
    margin-top: 45px;
    background-color: #335EEA;
    border: 0;
    color: white;
    font-weight: bold;
    transition: background 0.2s;
}

.button1:hover{
    background-color: #0a43fe;
    cursor: pointer;
}

.button2{
    width: 150px;
    height: 54px;
    margin-left: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    color: #374E9C;
    background-color: #E1E7FC;
    transition: background 0.2s;
}

.button2:hover{
    background-color: #5974d7b6;
    color: white;
    cursor: pointer;
}

article img{
    width: 480px;
    height: 440px;
}